## โจทย์เรื่องการตั้งค่า Data Structure
จงเลือกตอบคำถามต่อไปนี้

## Numeric

1. >เขียนโปรแกรมสร้างตัวแปรชื่อ numeric1 และกำหนดค่าให้เท่ากับ 5 หลังจากนั้นให้ทำการพิมพ์ค่าและชนิดข้อมูลของ numeric1 ออกมา

2. > เขียนโปรแกรมสร้างตัวแปรชื่อ numeric2 และกำหนดค่าให้เท่ากับ -3 หลัง
จากนั้นให้ทำการพิมพ์ค่าและชนิดข้อมูลของ numeric2 ออกมา

3. > เขียนโปรแกรมสร้างตัวแปรชื่อ nนmeric3 และกำหนดค่าให้เท่ากับ 0 หลังจาก
นั้นให้ทำการพิมพ์ค่าและชนิดข้อมูลของ numeric3 ออกมา

4. > เขียนโปรแกรมรับอินพุต 1 ตัวที่เป็นจำนวนเต็ม หลังจากนั้นให้ทำการพิมพ์ค่าและชนิดข้อมูลของจำนวนที่รับออกมา

5. > เขียนโปรแกรมสร้างตัวแปรชื่อ numeric1 และกำหนดค่าให้เท่ากับ 5.0 หลัง
จากนั้นให้ทำการพิมพ์ค่าและชนิดข้อมูลของ numeric1 ออกมา

6. > เขียนโปรแกรมสร้างตัวแปรชื่อ numeric2 และกำหนดค่าให้เท่ากับ -3.1 หลัง
จากนั้นให้ทำการพิมพ์ค่าและชนิดข้อมูลของ numeric2 ออกมา

7. > เขียนโปรแกรมสร้างตัวแปรชื่อ numeric3 และกำหนดค่าให้เท่ากับ 0.0 หลัง
จากนั้นให้ทำการพิมพ์ค่าและชนิดข้อมูลของ numeric3 ออกมา

8. > เขียนโปรแกรมรับอินพุต 1 ตัวที่เป็นจำนวนจริง หลังจากนั้นให้ทำการพิมพ์ค่า
และชนิดข้อมูลของจำนวนที่รับออกมา

9. > เขียนโปรแกรมรับอินพุต 2 ตัวที่เป็นจำนวนเต็ม (int1, int2) ให้คำนวณผลบวก,
ผลลบ, ผลคูณ และผลหารของจำนวนที่รับมา หลังจากนั้นให้พิมพ์ค่าและชนิด
ข้อมูลของทุกผลลัพธ์ออกมา

10. > เขียนโปรแกรมรับอินพุต 2 ตัวที่เป็นจำนวนจริง (float1, float2) ให้คำนวณ
ผลบวก, ผลลบ, ผลคูณ และผลหารของจำนวนที่รับมา หลังจากนั้นให้พิมพ์ค่า
และชนิดข้อมูลของทุกผลลัพธ์ออกมา

11. > เขียนโปรแกรมรับอินพุต 2 ตัวที่เป็นจำนวนเต็มและจำนวนจริง (int1, float1)
ให้คำนวณผลบวก, ผลลบ, ผลคูณ และผลหารของจำนวนที่รับมา หลังจากนั้น
ให้พิมพ์ค่าและชนิดข้อมูลของทุกผลลัพธ์ออกมา

12. > เขียนโปรแกรมสร้างตัวแปรชื่อ logic1 และกำหนดค่าให้เท่ากับ True หลังจาก
นั้นให้ทำการพิมพ์ค่าและชนิดข้อมูลของ logic1 ออกมา

13. > เขียนโปรแกรมสร้างตัวแปรชื่อ logic2 และกำหนดค่าให้เท่ากับ False หลัง
จากนั้นให้ทำการพิมพ์ค่าและชนิดข้อมูลของ logic2 ออกมา

14. > กำหนดให้ logic1 = True และ logic2 = False เขียนโปรแกรมเพื่อนำค่าความ
จริงทั้งสองมาดำเนินการด้วยคำสั่ง "และ" หลังจากนั้นให้ทำการพิมพ์ค่ความ
จริงที่ได้จากการดำเนินการออกมา

15. > กำหนดให้ logic1 = True และ logic2 = False เขียนโปรแกรมเพื่อนำค่าความ
จริงทั้งสองมาดำเนินการด้วยคำสั่ง "หรือ" หลังจากนั้นให้ทำการพิมพ์ค่าความ
จริงที่ได้จากการดำเนินการออกมา

16. > กำหนดให้ logic1 = True และ logic2 = False เขียนโปรแกรมเพื่อนำค่าความ
จริงทั้งสองมาดำเนินการด้วยคำสั่ง "หรือ" หลังจากนั้นให้ทำการพิมพ์ค่าความ
จริงที่ได้จากการดำเนินการออกมา

17. > กำหนดให้ logic1 = True และ logic2 = False เขียนโปรแกรมเพื่อนำค่าความ
จริงทั้งสองมาดำเนินการด้วยคำสั่ง "หรือ" หลังจากนั้นให้ทำการพิมพ์ค่าความ
จริงที่ได้จากการดำเนินการออกมา

18. > เขียนโปรแกรมสร้างตัวแปรชื่อ complex 1 และกำหนดค่าให้เท่ากับ 1 + 2j
หลังจากนั้นให้ทำการพิมพ์ส่วนจินตภาพออกมา

## String

19. > เขียนโปรแกรมสร้างตัวแปรชื่อ string1 และกำหนดค่าให้เท่ากับ 'Python'
หลังจากนั้นให้ทำการพิมพ์ค่าและชนิดข้อมูลของ string1 ออกมา

20. > เขียนโปรแกรมสร้างตัวแปรชื่อ string1 และกำหนดค่าให้เท่ากับ 'Python'
หลังจากนั้นให้ทำการพิมพ์อักขระที่ index เป็น 0 ออกมา

21. > เขียนโปรแกรมสร้างตัวแปรชื่อ string1 และกำหนดค่าให้เท่ากับ 'Python'
หลังจากนั้นให้ทำการพิมพ์อักขระที่ index เป็น 0 ออกมา

22. > เขียนโปรแกรมสร้างตัวแปรชื่อ string 1 และกำหนดค่าให้เท่ากับ 'Python
หลังจากนั้นให้ทำการพิมพ์อักขระที่ index เป็น -1 ออกมา

23. > เขียนโปรแกรมสร้างตัวแปรชื่อ string1 และกำหนดค่าให้เท่ากับ 'Python'
หลังจากนั้นให้ทำการพิมพ์อักขระที่ index เป็น -2 ออกมา

24. > เขียนโปรแกรมสร้างตัวแปรชื่อ string 1 และกำหนดค่าให้เท่ากับ 'Python
หลังจากนั้นให้ทำการพิมพ์อักขระ 't' ออกมา โดยอ้างอิงตำแหน่งจาก string1

25. > เขียนโปรแกรมสร้างตัวแปรชื่อ string1 และกำหนดค่าให้เท่ากับ 'Python
หลังจากนั้นให้ทำการพิมพ์อักขระ 'h' ออกมา โดยอ้างอิงตำแหน่งจาก string1

26. > เขียนโปรแกรมสร้างตัวแปรชื่อ string 1 และกำหนดค่าให้เท่ากับ 'Python'
หลังจากนั้นให้ทำการพิมพ์สายอักขระตั้งแต่ index ที่ 1 จนถึง index ที่ 3 ออก
มา

27. > เขียนโปรแกรมสร้างตัวแปรชื่อ string1 และกำหนดค่าให้เท่ากับ 'Python
หลังจากนั้นให้ทำการพิมพ์สายอักขระตั้งแต่ Index ที่ 2 จนถึง index ที่ -2 ออกมา

28. > เขียนโปรแกรมสร้างตัวแปรชื่อ string1 และกำหนดค่าให้เท่ากับ 'Python
หลังจากนั้นให้ทำการพิมพ์สายอักขระตั้งแต่ Index ที่ 2 จนถึง index ที่ -1 ออก
มา

29. > เขียนโปรแกรมสร้างตัวแปรชื่อ string 1 และกำหนดค่าให้เท่ากับ 'Python'
หลังจากนั้นให้ทำการพิมพ์สายอักขระตั้งแต่ index ที่ -4 จนถึง index ที่ 4 ออก
มา

30. > เขียนโปรแกรมสร้างตัวแปรชื่อ sting 1 และกำหนดค่าให้เท่ากับ 'Python"
หลังจากนั้นให้ทำการพิมพ์สายอักขระตั้งแต่ index ที่ -6 จนถึง index ที่ 4 ออก
มา

31. > เขียนโปรแกรมสร้างตัวแปรชื่อ string1 และกำหนดค่าให้เท่ากับ 'Python
หลังจากนั้นให้ทำการพิมพ์สายอักขระตั้งแต่ index ที่ -4 จนถึง index ที่ 2
ออกมา

32. > เขียนโปรแกรมรับอินพุต 1 ตัวที่เป็นสายอักขระ จากนั้นให้ทำการพิมพ์ความ
ยาวของสายอักขระออกมา

33. > เขียนโปรแกรมรับอินพุต 1 ตัวที่เป็นสายอักขระ ให้ทำการตรวจสอบสาย
อักขระที่รับมาว่ามี 'ก' หรือไม่ จากนั้นให้พิมพ์ค่าความจริงออกมา

34. > เขียนโปรแกรมรับอินพุต 2 ตัวที่เป็นสายอักขระ (string1, sting2) ให้ทำการ
ตรวจ string 1 ที่รับมาว่ามี string2 ในนั้นหรือไม่ จากนั้นให้พิมพ์ค่าความจริง
ออกมา

```
ตัวอย่างที่: สมมติให้ string1 = 'happy', string2 = 'app' ผลลัพธ์ที่จะพิมพ์
ออกมาคือ True
```

35. > เขียนโปรแกรมรับอินพุต 1 ตัวที่เป็นสายอักขระ ให้ทำการแทนที่อักขระ 'a
ด้วย 'A' จากนั้นให้พิมพ์สายอักขระที่ผ่านการดำเนินการแล้วออกมา

36. > เขียนโปรแกรมรับอินพุต 1 ตัวที่เป็นสายอักขระ ให้ทำการแทนที่อักขระ 'a'
ด้วย 'A' และกำหนดค่าที่ผ่านการดำเนินการใส่ตัวแปรชื่อ sting2 จากนั้นให้
พิมพ์ string2 ออกมา

37. > เขียนโปรแกรมรับอินพุต 1 ตัวที่เป็นสายอักขระ (sentence) ให้ทำการตัดคำ
ในสายอักขระโดยใช้ ' เป็นตัวตัดคำ หลังจากนั้นให้พิมพ์ผลลัพธ์จากการตัดคำ
ออกมา
```
ตัวอย่างที่: สมมติให้ sentence = 'We love Python' ผลลัพธ์ที่จ
ออกมาคือ ['We', 'love, 'Python']
```

38. > เขียนโปรแกรมรับอินพุต 2 ตัวที่เป็นสายอักขระ (sentence, c) ให้ทำการตัด
คำใน sentence โดยใช้ c เป็นตัวตัดคำ หลังจากนั้นให้พิมพ์ผลลัพธ์จากการตัด
คำออกมา
```
ตัวอย่างที่: สมมติให้ sentence = 'Py-thon', c = '-' ผลลัพธ์ที่จะพิมพ์ออก
มาคือ ['Py', 'thon']
```

39. > เขียนโปรแกรมรับอินพุต 2 ตัวที่เป็นสายอักขระ (str1, str2) ให้ทำการต่อสาย
อักขระทั้งสอง (โดยนำ str2 ไปต่อหลัง str 1) หลังจากนั้นให้พิมพ์ผลลัพธ์ออก
มา
```
ตัวอย่างที่: สมมตีให้ str1 = 'Fri', str2 = 'day' ผลลัพธ์ที่จะพิมพ์ออกมาคือ 'Friday'
```

## List

40. > เขียนโปรแกรมสร้าง list ที่มีสมาชิกเป็น 0, 1, 2, 'a', 'b', 'c' ตามลำดับ จากนั้น
ให้ทำการพิมพ์ค่าและชนิดข้อมูลของ list ที่สร้างออกมา

41. > กำหนดให้ list1 = [0, 1, 2, 'a', 'b', 'c' เขียนโปรแกรมเพื่อพิมพ์สมาชิกที่ index
เป็น 2 ออกมา

42. > กำหนดให้ list1 = [0, 1, 2, 'a', 'b', 'c' เขียนโปรแกรมเพื่อพิมพ์สมาชิกที่ index
เป็น -3 ออกมา

43. > กำหนดให้ list1 = [0, 1, 2, 'a', 'b', 'c'] เขียนโปรแกรมเพื่อพิมพ์ 0 ออกมาโดย
อ้างอิงตำแหน่งจาก list1

44. > กำหนดให้ list1 = [0, 1, 2, 'a, b', 'c'] เขียนโปรแกรมเพื่อพิมพ์ 'b' ออกมาโดย
อ้างอิงตำแหน่งจาก listt

45. > กำหนดให้ list1 = [0, 1, 2, 'a', 'b', 'c' เขียนโปรแกรมเพื่อพิมพ์ lst ที่มีสมาชิก
ตั้งแต่ index ที่ 2 จนถึง index ที่ 3 ของ แist1 ออกมา

46. >  กำหนดให้ list1 = [0, 1, 2, 'a', 'b', 'c'] เขียนโปรแกรมเพื่อพิมพ์ list ที่มีสมาชิก
ตั้งแต่ index ที่ 1 จนถึง index ที่ -2 ของ list1 ออกมา

47. > กำหนดให้ list1 = [0, 1, 2, 'a', 'b', 'c'] เขียนโปรแกรมเพื่อพิมพ์ [1, 2, 'a', 'b']
โดยอ้างอิงตำแหน่งจาก list1

48. > กำหนดให้ list1 = [0, 1, 2, 'a', 'b, 'c'] เขียนโปรแกรมเพื่อพิมพ์ ['a', 'b', 'c']
โดยอ้างอิงตำแหน่งจาก list1

49. > กำหนดให้ list1 = [0, 1, 2, 'a', 'b', 'c'] เขียนโปรแกรมเพื่อพิมพ์ [0, 1, 2] โดย อ้างอิงตำแหน่งจาก list1

50. > กำหนดให้ lis12 = ['ant', 'bird', 'cat', 'dog', 'eagle' เขียนโปรแกรมเพื่อเปลี่ยน
ค่าสมาชิกใน index ที่ 3 เป็น 'duck' หลังจากนั้นให้พิมพ์ list2 ออกมา

51. > กำหนดให้ list2 = ['ant', 'bird', 'cat', 'dog', 'eagle'] เขียนโปรแกรมเพื่อเปลี่ยน
'ant' เป็น 'ape' หลังจากนั้นให้พิมพ์ list2 ออกมา

52. > กำหนดให้ list2 = ['ant, 'bird', 'cat, 'dog', 'eagle'] เขียนโปรแกรมเพื่อเพิ่ม
'fish' ไปเป็นสมาชิกตัวสุดท้ายของ list2 หลังจากนั้นให้พิมพ์ list2 ออกมา

53. > เขียนโปรแกรมสร้าง empty list และรับอินพุต 3 ตัวที่เป็นสายอักขระ (str1,
str2, str3) จากนั้นให้ทำการเพิ่มสายอักขระทั้ง 3 ไปเป็นสมาชิกใน list โดยใช้เมธอด append สุดท้ายให้พิมพ์ list ออกมา

54. > กำหนดให้ list3 = I'apple, cherry'; 'eggfruit] เขียนโปรแกรมเพื่อแทรก "ba-
nana'ไปเป็นสมาชิกใน index ที่ 1 ของ list3 หลังจากนั้นให้พิมพ์ list3 ออกมา

55. > กำหนดให้ list3 = ['apple', 'banana', 'cherry', 'eggfruit'] เขียนโปรแกรมเพื่อ
แทรก 'kiwi' ไปเป็นสมาชิกใน index ที่ -2 ของ list3 หลังจากนั้นให้พิมพ์ list3 ออกมา

56. > กำหนดให้ Iist4 = [0, 4, 2, 3, 1] เขียนโปรแกรมเพื่อเรียงลำดับข้อมูลใน list4
จากน้อยไปมาก หลังจากนั้นให้พิมพ์ แist4 ออกมา

57. > กำหนดให้ list4 = [0, 4, 2, 3, 1] เขียนโปรแกรมเพื่อเรียงลำดับข้อมูลใน list4
จากมากไปน้อย หลังจากนั้นให้พิมพ์ list4 ออกมา

58. > กำหนดให้ แist4 = [0, 4, 2, 3, 1] เขียนโปรแกรมเพื่อเรียงลำดับข้อมูลใน list4
จากน้อยไปมาก และเก็บค่าไว้ในตัวแปรชื่อ sorted_list4 หลังจากนั้นให้พิมพ์ sorted_list4 ออกมา

59. > กำหนดให้ list4 = [0, 4, 2, 3, 1] เขียนโปรแกรมเพื่อเรียงลำดับข้อมูลใน list4
จากมากไปน้อย และเก็บค่าไว้ในตัวแปรชื่อ sorted_list4 หลังจากนั้นให้พิมพ์
sorted_list4 ออกมา

60. > กำหนดให้ list5 = ['d, 'a', 'c', 'b', 'e'] เขียนโปรแกรมเพื่อเรียงลำดับข้อมูลใน
list5 ตามตัวอักษร หลังจากนั้นให้พิมพ์ list5 ออกมา

61. > กำหนดให้ list5 = ['d', 'a', 'c', 'b', 'e'] เขียนโปรแกรมเพื่อเรียงลำดับข้อมูลใน
list5 ตามตัวอักษรแบบถอยหลัง และเก็บค่าไว้ในตัวแปรชื่อ sorted_list5 หลังจากนั้นให้พิมพ์ sorted_list5 ออกมา

62. > กำหนดให้ list1 = ['a', 'b', 'c'] และ list2 = [0, 1, 2] เขียนโปรแกรมเพื่อนำ
สมาชิกทั้งหมดของ list2 ไปต่อท้าย list1 จากนั้นให้พิมพ์ list1 และ list2 ออกมา

63. > กำหนดให้ list1 = ['a', 'b', 'c'] และ list2 = [0, 1, 2] เขียนโปรแกรมเพื่อนำ
สมาชิกทั้งหมดของ list2 ไปต่อท้าย list1 และเก็บ list ที่ได้จากการดำเนินการ
ไว้ในตัวแปรชื่อ list3 จากนั้นให้พิมพ์ list1, list2 และ list3 ออกมา

64. > กำหนดให้ list1 = [1, 2, 3, 1, 2, 3] เขียนโปรแกรมลบสมาชิกใน index ที่ 1
ออกจาก list1 โดยใช้คำสั่ง del หลังจากนั้นให้พิมพ์ list1 ออกมา

65. > กำหนดให้ Iist1 = [1, 2, 3, 1, 2, 3] เขียนโปรแกรมลบ 3 ทั้งหมดออกจาก list1
โดยใช้คำสั่ง del หลังจากนั้นให้พิมพ์ list1 ออกมา

66. > กำหนดให้ list1 = [1 , 2, 3, 1, 2, 3] เขียนโปรแกรมลบ 1 ออกจาก list1 โดยใช้เมธอด remove หลังจากนั้นให้พิมพ์ list1 ออกมา

67. กำหนดให้ แรt1 = [1, 2, 3, 1, 2, 3] เขียนโปรแกรมลบ 1 ทั้งหมดออกจาก list1
โดยใช้เมธอด remove หลังจากนั้นให้พิมพ์ list1 ออกมา

68. > กำหนดให้ list1 = [1, 2, 3, 1, 2, 3] เขียนโปรแกรมลบสมาชิกทุกตัวออกจาก
list1 หลังจากนั้นให้พิมพ์ list1 ออกมา

69. > กำหนดให้ แรt1 = [1, 2, 3, 'a', 'b', 'c] เขียนโปรแกรมหาความยาวของ lst1
และพิมพ์ออกมา

70. > กำหนดให้ list1 = [1, 2, 3, 4, 5] เขียนโปรแกรมรับอินพุต 1 ตัวที่เป็น
จำนวนเต็ม (numeric1) ให้ทำการตรวจว่า numeric1 เป็นสมาชิกใน list1 หรือ
ไม่ จากนั้นให้พิมพ์ค่าความจริงออกมา

## Tuple

71. > เขียนโปรแกรมสร้าง tuple ที่มีสมาชิกเป็น 'America', 'Brazil, 'China', 'Dominican', 'Egypt' ตามลำดับ จากนั้นให้ทำการพิมพ์ค่าและชนิดข้อมูลของ tuple ที่สร้างออกมา

72. > กำหนดให้ tuple1 = ('America', 'Brazil', 'China', 'Dominican', 'Egypt')
เขียนโปรแกรมเพื่อพิมพ์สมาชิกที่ index เป็น 1 ออกมา

73. > กำหนดให้ tuple1 = ('America', 'Brazil', 'China', 'Dominican', 'Egypt')
เขียนโปรแกรมเพื่อพิมพ์สมาชิกที่ index เป็น -2 ออกมา

74. > กำหนดให้ tuple1 = ('America', 'Brazil', 'China', 'Dominican', 'Egypt')
เขียนโปรแกรมเพื่อพิมพ์ 'China' ออกมาโดยอ้างอิงตำแหน่งจาก tuple1

75. > กำหนดให้ tuple1 = ('America', 'Brazil, 'China', 'Dominican', 'Egypt')
เขียนโปรแกรมเพื่อพิมพ์ 'Egypt'

76. > กำหนดให้ tuple2 = ('one', 'two', 'three', 1, 2, 3) เขียนโปรแกรมเพื่อพิมพ์
tuple ที่มีสมาชิกตั้งแต่ index ที่ 1 จนถึง index ที่ 3 ของ tuple2 ออกมา

77. > กำหนดให้ tuple2 = ('one', 'two', 'three', 1, 2, 3) เขียนโปรแกรมเพื่อพิมพ์
tuple ที่มีสมาชิกตั้งแต่ index ที่ 2 จนถึง index ที่ -2 ของ tuple2 ออกมา

78. > กำหนดให้ tuple2 = ('one', 'two, 'three', 1, 2, 3) เขียนโปรแกรมเพื่อพิมพ์
(three, 1) โดยอ้างอิงตำแหน่งจาก tuple2

79. > กำหนดให้ tuple2 = ('one', 'two', 'three', 1, 2, 3) เขียนโปรแกรมเพื่อพิมพ์
('one', 'two', 'three') โดยอ้างอิงตำแหน่งจาก tuple2

80. > กำหนดให้ tuple2 = ('one', 'two, 'three', 1, 2, 3) เขียนโปรแกรมเพื่อพิมพ์
(1. 2, 3) โดยอ้างอิงตำแหน่งจาก tuple2

81. > กำหนดให้ tuple3 = ('one', 'two', 'three', 'four', 'five') เขียนโปรแกรม
หาความยาวของ tuple3 และพิมพ์ออกมา

82. > กำหนดให้ tuple3 = ('one','two', 'three', 'four', 'five') เขียนโปรแกรมรับ
อินพุต 1 ตัวที่เป็นสายอักขระ (str1) ให้ทำการตรวจว่า str1 เป็นสมาชิกใน tuple3 หรือไม่ จากนั้นให้พิมพ์ค่าความจริงออกมา

##Dictionary

83. > เขียนโปรแกรมสร้าง dictionary ที่มี key เป็น 'first name' และ 'last name' โดยมี value เป็น John' และ 'Doe' ตามลำดับ จากนั้นให้ทำการพิมพ์ค่าและ
ชนิดข้อมูลของ dictionary ที่สร้างออกมา

84. > กำหนดให้ dict1 = ('first name' : 'John', 'last name' : 'Doe') เขียนโปรแกรมพิมพ์ value ของ key 'first_ name' ออกมา

85. > กำหนดให้ dictt = ('first name : 'John', 'Iast name' : 'Doe'l เขียน
โปรแกรมพิมพ์ value ของ key 'last name' ออกมา

86. > กำหนดให้ dict1 = ('first name' : 'John', 'last name' : 'Doe' เขียนโปรแกรมพิมพ์ list ของ key ทั้งหมดใน dict1 ออกมา

87. > กำหนดให้ dict1 = ('first name' : 'John', 'last name : 'Doe') เขียน
โปรแกรมพิมพ์ list ของ value ทั้งหมดใน dict1 ออกมา

88. > 88. กำหนดให้ dict1 = ('first name' : 'John', 'last name' : 'Doe' เขียน
โปรแกรมเปลี่ยน value ของ key 'first name' เป็น 'Jane' หลังจากนั้นให้
พิมพ์ dict1 ออกมา

89. > กำหนดให้ dictt = ('first name' : 'John', 'last name' : 'Doe" เขียน
โปรแกรมสร้าง key ใหม่ชื่อ 'age' และกำหนด value เป็น 32 หลังจากนั้นให้ พิมพ์ dict1 ออกมา

90. > กำหนดให้ dict1 = ('first name' : 'John', 'last name' : 'Doe') เขียน
โปรแกรมสร้าง key ใหม่ชื่อ 'age' และ 'hobby' โดยมี value เป็น 32 และ
['coding', 'studying'] ตามลำดับ หลังจากนั้นให้พิมพ์ dict1 ออกมา

91. > เขียนโปรแกรมสร้าง empty dictionary และรับอินพุต 2 ตัวที่เป็นสายอักขระ
(str1, str2) โดยให้ str1 เป็น key และ str2 เป็น value หลังจากนั้นให้พิมพ์
dictionary ออกมา

92. > กำหนดให้ dict1 = ('first_name' : 'John', 'last_name' : 'Doe', 'age' : 32)
เขียนโปรแกรมสบ key 'age' ออกจาก dict1 หลังจากนั้นให้พิมพ์ dict ออก
มา

93. > กำหนดให้ dict1 = ('first _name' : 'John', 'last name' : 'Doe', 'age' : 32]
เขียนโปรแกรมลบข้อมูลทั้งหมดออกจาก dict1 หลังจากนั้นให้พิมพ์ dict1 ออก
มา

94. > กำหนดให้ dict1 = ('first _name' : 'John', 'last _name' : 'Doe', 'age' : 32)
เขียนโปรแกรมพิมพ์จำนวน key ของ dict1 ออกมา

95. > กำหนดให้ dict1 = ('first name' : 'John', 'last name' : 'Doe', 'age' : 32)
เขียนโปรแกรมรับอินพุต 1 ตัวที่เป็นสายอักขระ (str1) ให้ทำการตรวจว่า str1
เป็นหนึ่งใน key ของ dict1 หรือไม่ จากนั้นให้พิมพ์ค่ความจริงออกมา

96. > กำหนดให้ dict1 = ('first name' : 'John', 'last name' : 'Doe', 'age' : 32)
เขียนโปรแกรมรับอินพุต 1 ตัวที่เป็นสายอักขระ (str 1) ให้ทำการตรวจว่า str1
เป็นหนึ่งใน value ของ dict1 หรือไม่ จากนั้นให้พิมพ์ค่าความจริงออกมา

## Set

97. > เขียนโปรแกรมสร้าง set ที่มีสมาชิกเป็น 1, 2, 3, "i", "ii", "iii" จากนั้นให้ทำการ
พิมพ์ค่าและชนิดข้อมูลของ set ที่สร้างออกมา

98. > กำหนดให้ set1 =  {1, 2, 3, "i", "ii", "iii" } เขียนโปรแกรมพิมพ์สมาชิกทุกตัวใน set 1 ออกมา

99. > กำหนดให้ set1 =  {1, 2, 3, "i", "ii", "iii"} เขียนโปรแกรมเพิ่ม "iv' ไปเป็นสมาซิก
ใน set1 จากนั้นให้พิมพ์ set1 ออกมา

100. > กำหนดให้ set1 = {1, 2, 3, "i", "ii", "iii" } เขียนโปรแกรมเพิ่ม 1 ไปเป็นสมาชิกใน
set1 จากนั้นให้พิมพ์ set1 ออกมา

101. > เขียนโปรแกรมสร้าง empty set และรับอินพุต 3 ตัวที่เป็นสายอักขระ (str 1,
str2, str3) จากนั้นให้ทำการเพิ่มสายอักขระทั้ง 3ไปเป็นสมาชิกใน set สุดท้าย
ให้พิมพ์ set ออกมา

102. > เขียนโปรแกรมสร้าง empty set และรับอินพุต 3 ตัวที่เป็นสายอักขระ (str1,
str2, str3) จากนั้นให้ทำการเพิ่มสายอักขระทั้ง 3 ไปเป็นสมาชิกใน set โดย
การใช้เมธอด update สุดท้ายให้พิมพ์ set ออกมา

103. > เขียนโปรแกรมสร้าง empty set และรับอินพุต 3 ตัวที่เป็นสายอักขระ (str1,
str2, str3) จากนั้นให้ทำการเพิ่มสายอักขระทั้ง 3 ไปเป็นสมาชิกใน set โดย
การใช้เมธอด update สุดท้ายให้พิมพ์ set ออกมา

104. > กำหนดให้ set1 = {1, 2, 3, 'i', 'ii', 'iii'} เขียนโปรแกรมพิมพ์จำนวนสมาชิกใน
set1 ออกมา

105. > กำหนดให้ set1 = {1, 2, 3, 'i', 'ii', 'iii'} เขียนโปรแกรมรับอินพุต 1 ตัวที่เป็น
จำนวนเต็ม (int 1) ให้ทำการตรวจว่า int1 เป็นสมาชิกของ set1 หรือไม่ จาก
นั้นให้พิมพ์ค่าความจริงออกมา

106. > กำหนดให้ set 1 = {1, 2, 3, 4, 5} และ set2 = {3, 4, 5, 6} เขียนโปรแกรมพิมพ์
ผลลัพธ์ที่เกิดจากการ union ระหว่าง set1 และ set2 ออกมา

107. > กำหนดให้ set 1 = {1, 2, 3, 4, 5} และ set2 = {3, 4, 5, 6} เขียนโปรแกรมพิมพ์
ผลลัพธ์ที่เกิดจากการ intersection ระหว่าง set1 และ set2 ออกมา

108. > กำหนดให้ set 1 = {1, 2, 3, 4, 5} และ set2 = {3, 4, 5, 6} เขียนโปรแกรมพิมพ์
ผลลัพธ์ที่เกิดจากการ intersection ระหว่าง set1 และ set2 ออกมา

109. > กำหนดให้ set1 = {1, 2, 3, 4, 5} และ set2 = {3, 4, 5, 6} เขียนโปรแกรมพิมพ์
ผลลัพธ์ที่เกิดจาก set2 - set1 ออกมา

110. > กำหนดให้ set1 = {1, 2, 3, 4, 5} และ set2 = {3, 4, 5, 6} เขียนโปรแกรมพิมพ์
ผลลัพธ์ที่เกิดจากการ symmetric difference ระหว่าง set1 และ se12 ออกมา